@font-face {
  font-family: Ringbearer;
  src: url(./ringbearer.ttf);
}

body {
  margin: 12px;
  font-family: "DejaVu serif", serif;
  text-align: center;
  color: #8b4513;
  background-color: #f5f5dc;
}

body * {
  width: 100%;
  display: block;
}

main {
  max-width: 800px;
  margin: auto;
}

img {
  height: auto;
  margin: auto;
}

a {
  text-decoration: none;
  color: #16801b;
}

#image {
  min-width: 200px;
  max-width: 600px;
}

#title {
  font-size: 3.5em;
  font-family: Ringbearer;
  color: #8b4513;
}

#tribute-info {
  text-align: justify;
}

#tribute-link-container {
  text-align: center;
}

#tribute-link-container > * {
  display: inline-block;
  width: auto;
}

#tribute-link {  /* for responsiveness purposes */
  min-width: 40px;
  min-height: 40px;
}

.small-text {
  font-size: 0.9em;
}

@media (max-width: 425px) {
  #title {
    font-size: 3em;
  }
}

@media (max-width: 699px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 799px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }
}