body {
  --navbar-width: 300px;

  width: 100%;
  max-width: 1000px;
  margin: 1em;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#navbar {
  width: var(--navbar-width);
  position: fixed;
  top: 1em;
  left: 1em;
}

#navbar > header {
  display: flex;
  flex-direction: column;
}

#navbar > header > h1 {
  font-size: 1.5em;
  margin-top: 0px;
}

#navbar > header > a {
  margin-bottom: 5px;
}

#main-doc {
  width: 700px;
  margin-left: var(--navbar-width);
  text-align: justify;
}

#main-doc > section > header {
  font-size: 1.25em;
  font-weight: bold;
}