body {
  --navbar-height: 50px;
  --max-content-width: 1000px;

  font-size: 16px;
  margin: 1em;
}

body * {
  box-sizing: border-box;
  overflow: auto;
}

#navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: var(--navbar-height);
  background-color: #007fe7;
  padding: 1em;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#navbar > .container {
  flex-direction: row;
  justify-content: space-around;
}

#navbar > .container > a:nth-child(2n-1) {
  margin-right: 2em;
}

main {
  margin-top: var(--navbar-height);
}

.container {
  width: 100%;
  height: 100%;
  max-width: var(--max-content-width);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section > .container {
  flex-direction: column;
}

section:nth-child(2n+1) {
  background-color: #f3dff3;
  /*background-color: #eaeaea;*/
}

section:nth-child(2n+2) {
  background-color: #e7e7e7;
  /*background-color: #f6f6f6;*/
}

h1 {
  font-size: 3em;
  padding: 1em auto;
}