body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: auto;
  font-size: 16px;
  font-family: sans-serif;
  text-align: justify;

  --logo-size: 60px;
  --primary-background-color: #9cd4e3;
}

header {
  width: 800px;
  height: var(--logo-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0px;
  left: calc((100% - 800px) / 2);
  background-color: var(--primary-background-color);
}

nav {
  width: calc(100% - var(--logo-size));
  display: flex;
  justify-content: space-around;
}

main {
  margin-top: var(--logo-size);
}

form {
  text-align: center;
}

h1 {
  margin-top: 0px;
  padding-top: var(--logo-size);
  text-align: center;
}

main > section:nth-child(2n - 1) {
  background-color: var(--primary-background-color);
}

#header-img {
  width: var(--logo-size);
  height: auto;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home > span {
  font-size: 3em;
  color: #fe081f;
}
/* TODO: create media query to change header width to 100% when width < 800 */
/* TODO: modify HTML and CSS to extend background indefinitely but content only until 800 px*/
/* TODO: check that paddings are good */
/* TODO: consider changing the font (at least the one on the logo) */
/* TODO: make the headers bigger and normalize the padding on the top and bottom of them */
/* TODO: remove underline from anchor tags */
/* TODO: remove visited styling from anchor tags */
/* TODO: add different color on hover to anchor tags. Consider animations */
/* TODO: make sure that all contrasts are ok */
/* TODO: instead of hard color changes from one section to the other, consider a degradation */
/* TODO: add contact information in about us section. Email, phone, address */
/* TODO: update READMEs */