body {
  --max-content-width: 800px;
  --logo-size: 50px;
  --primary-background-color: #9cd4e3;
  --font-color: #574255;
  --brand-color: #fe081f;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-content-width);
  margin: auto;
  font-size: 16px;
  font-family: sans-serif;
  color: var(--font-color);
  text-align: justify;
}

header {
  width: var(--max-content-width);
  height: var(--logo-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0px;
  left: calc((100% - var(--max-content-width)) / 2);
  background-color: var(--primary-background-color);
}

nav {
  width: calc(100% - var(--logo-size));
  display: flex;
  justify-content: space-around;
}

main {
  margin-top: var(--logo-size);
}

form {
  margin-top: 10px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0px;
  padding: var(--logo-size) 0px;
  text-align: center;
}

main > section {
  padding: 0px 10px 10px 10px;
}

main > section:nth-child(2n - 1) {
  background-color: var(--primary-background-color);
}

section > p:first-of-type {
  margin-top: 0px;
}

video {
  width: 100%;
  min-width: 300px;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  animation-name: hover-animation;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

#header-img {
  width: var(--logo-size);
  height: auto;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home > span {
  font-size: 3em;
  color: var(--brand-color);
}

@keyframes hover-animation {
  100% {
    color: var(--brand-color);
  }
}

@media (max-width: 800px) {
  header {
    width: 100%;
    left: 0px;
  }
}
/* TODO: modify HTML and CSS to extend background indefinitely but content only until 800 px*/
/* TODO: consider changing the font (at least the one on the logo) */
/* TODO: instead of hard color changes from one section to the other, consider a degradation */
/* TODO: add contact information in about us section. Email, phone, address */
/* TODO: update READMEs */
/* TODO: fix company name distribution when width is less than 800px */
/* TODO: consider making the font smaller when width below 800px */