body {
  --max-content-width: 800px;
  --logo-size: 50px;
  --primary-background-color: #9cd4e3;
  --header-color: #52adc6;
  --font-color: #574255;
  --brand-color: #fe081f;
  --transition-color: #9cd4e34d;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-size: 16px;
  font-family: Purisa, sans-serif;
  color: var(--font-color);
  text-align: justify;
}

header {
  width: 100%;
  height: var(--logo-size);
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--header-color);
}

header > div {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: var(--max-content-width);
  height: 100%;
}

nav {
  width: calc(100% - var(--logo-size));
  display: flex;
  justify-content: space-between;
}

nav > a {
  color: black;
}

main {
  margin-top: var(--logo-size);
}

form {
  margin-top: 10px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0px;
  padding: var(--logo-size) 0px;
  text-align: center;
}

main > section {
  padding: 0px 10px 10px 10px;
}

section > div {
  margin: auto;
  max-width: var(--max-content-width);
  padding-bottom: 24px;
}

main > section:nth-child(2n) {
  background-image: linear-gradient(var(--transition-color) 0%, transparent 5% 95%, var(--transition-color) 100%);
}

main > section:nth-child(2n - 1) {
  background-image: linear-gradient(var(--transition-color) 0%, var(--primary-background-color) 5% 95%, var(--transition-color) 100%);
}

main > section:first-child {
  background-image: linear-gradient(var(--primary-background-color) 95%, var(--transition-color) 100%);
}

section > div > p:first-of-type {
  margin-top: 0px;
}

video {
  width: 100%;
  min-width: 300px;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  animation-name: hover-animation;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

#header-img {
  width: var(--logo-size);
  height: auto;
  margin-right: 30px;
}

#home > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#company-name {
  font-size: 3em;
  color: var(--brand-color);
  text-align: center;
}

@keyframes hover-animation {
  100% {
    color: var(--brand-color);
  }
}

@media (max-width: 835px) {
  nav {
    justify-content: space-around;
  }

  #header-img {
    margin-right: 0px;
  }

  #home > div {
    flex-direction: column;
  }

  #big-logo {
    order: 2;
  }

  #company-name {
    order: 1;
  }
}
/* TODO: add contact information in about us section. Email, phone, address */
/* TODO: update READMEs */
/* TODO: add Purisa font to project */